:root {
    --cor-fundo: #290000;
    --cor-principal: #ffffff0a;
    --cor-secundaria: #ffffff;
    --cor-destaque: #ff0000;
    --cor-texto: #000000;
    --cor-fadeButtom: #cacaca;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.caixa-Principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-destaque);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    color: var(--cor-principal);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

button:hover {
    background-color: var(--cor-fadeButtom);
    color: var(--cor-texto);
}

.caixa-Resultado {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: var(--cor-secundaria);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 8px;
}

.caixa-Resultado.mostrar {
    opacity: 1;
}

.texto-Resultado {
    font-size: 1.2rem;
    color: var(--cor-texto);
}
